body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;
    background : rgb(43, 122, 226);
    font-family: Arial, Helvetica, sans-serif;
}
#calc {justify-content: center;
    display: grid;
    width: 350px;
    height: 400px;
    gap: 8px;
    padding : 15px;
    border-radius: 20px;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
border: 2px solid;
background: greenyellow;
}
#Screen {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/1/2/5;
}
#Screen p {
width :100%;
height: 100%;
border-radius: 10px;
background: aqua;
text-align: right;
padding: 0 10px;
border : 1px solid black;
}
#one {
grid-area: 2/1/3/2;
}
#two {
grid-area:2/2/3/3 ;
}
#three {
grid-area:2/3/3/4 ;
}
#four {
grid-area:3/1/4/2 ;
}
#five {
grid-area: 3/2/4/3;
}
#six {
grid-area: 3/3/4/4;
}
#seven {
grid-area:4/1/5/2;
}
#eight {
grid-area:4/2/5/3 ;
}
#nine {
grid-area:4/3/5/4 ;
}
#zero {
grid-area:5/1/6/4 ;
}
#plus {
grid-area: 3/4/4/5;
}
#minus {
grid-area: 4/4/5/5;
}
#del {
grid-area:6/1/7/3;
}
#eq {
grid-area: 6/3/7/4;
}
#div {
grid-area:6/4/7/5 ;
}
#mul {
grid-area:5/4/6/5 ;
}
#clear {
grid-area: 2/4/3/5;
}
button{
    width: 100%;
    height : 100%;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
}
.operation button {
    background-color: red;
    font-weight: bold;
}
.Numberkeys button:hover {
    background-color: cadetblue;
}
.operation button:hover {
    background-color: crimson;
}
button:active {
    transform: scale(0.95);
}
